:root {
  --branding-color: hsl(158, 36%, 37%);
  --primary-font-color: hsl(212, 21%, 14%);
  --secondary-font-color: hsl(228, 12%, 48%);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: hsl(30, 38%, 92%);
}

main {
  max-width: 600px;
  margin: 150px auto;
}

h1 {
  font-family: "Fraunces", serif;
  color: var(--primary-font-color);
  font-size: 36px;
  line-height: 1;
}

h2 {
  font-family: "Fraunces", serif;
  font-size: 32px;
  color: var(--branding-color);
  display: inline;
  margin: 100px 0;
}

h3 {
  margin: 0;
  color: var(--secondary-font-color);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
}

p {
  font-size: 14px;
  line-height: 1.8;
  color: var(--secondary-font-color);
}

button {
  width: 100%;
  color: white;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  background-color: var(--branding-color);
  padding: 15px;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
  transition: all 150ms ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: hsl(158, 46%, 22%);
}

button img {
  margin-right: 5px;
  position: relative;
  top: 2px;
}

footer {
  font-size: 11px;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-container {
  background-image: url(images/image-product-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px 0 0 12px;
}

.text-container {
  padding: 30px;
  background-color: hwb(0 100% 0%);
  border-radius: 0 12px 12px 0;
}

.original-price {
  text-decoration: line-through;
  display: inline-block;
  position: relative;
  bottom: 6px;
  left: 18px;
}

@media (max-width: 768px) {
  main {
    max-width: 350px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
  }

  .img-container {
    background-image: url(images/image-product-mobile.jpg);

    border-radius: 12px 12px 0 0;
  }

  .text-container {
    border-radius: 0 0 12px 12px;
  }
}
